# Node & Bun dependencies
node_modules/
bun.lockb

# TypeScript build output
dist/
out/
build/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE & Editor files
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# Git
.git/
